EPP-17: EPP Schema Validation Error: Incorrect `type` attribute requirement on `<contact:addr>` element

# EPP-17: EPP Schema Validation Error: Incorrect `type` attribute requirement on `<contact:addr>` element

## Summary
The EPP test in the Main RSP Evaluation Test is incorrectly requiring a `type` attribute on the `<contact:addr>` element, which violates RFC 5733 specification. This causes valid EPP contact info responses to fail schema validation.

## Expected Behavior
According to RFC 5733, the `<contact:addr>` element should **not** have a `type` attribute. Only the parent `<contact:postalInfo>` element should have the `type` attribute.

## Actual Behavior
The server returns a schema validation error:
```
EPPCommand.recDocument : Line: 2, Column: 1251, Message: cvc-complex-type.4: Attribute 'type' must appear on element 'contact:addr'.
```

## Steps to Reproduce
1. Create a contact with the following EPP command:
```xml
<?xml version="1.0" encoding="UTF-8"?>
<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
    <create>
      <contact:create xmlns:contact="urn:ietf:params:xml:ns:contact-1.0">
        <contact:id>sqgoffhxha</contact:id>
        <contact:postalInfo type="int">
          <contact:name>Ms. Chun Shanahan</contact:name>
          <contact:org>Christiansen, Olson and Ullrich</contact:org>
          <contact:addr>
            <contact:street>380 Medhurst Road</contact:street>
            <contact:city>Kundebury</contact:city>
            <contact:sp>New York</contact:sp>
            <contact:pc>74094</contact:pc>
            <contact:cc>MY</contact:cc>
          </contact:addr>
        </contact:postalInfo>
        <contact:voice>+1.8485164975</contact:voice>
        <contact:fax>+1.5342605047</contact:fax>
        <contact:email>rst-epp-17-gina.blanda@hotmail.com</contact:email>
        <contact:authInfo>
          <contact:pw>password</contact:pw>
        </contact:authInfo>
      </contact:create>
    </create>
    <clTRID>create-contact-test</clTRID>
  </command>
</epp>
```

2. Query the contact info:
```xml
<?xml version="1.0" encoding="UTF-8"?>
<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
    <info>
      <contact:info xmlns:contact="urn:ietf:params:xml:ns:contact-1.0">
        <contact:id>sqgoffhxha</contact:id>
      </contact:info>
    </info>
    <clTRID>cc5cc43a-b3ed-4697-a0c3-5c366a67dce0</clTRID>
  </command>
</epp>
```

3. The response contains `<contact:addr>` without a `type` attribute (which is correct per RFC 5733)
```
<epp xmlns="urn:ietf:params:xml:ns:epp-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:ietf:params:xml:ns:epp-1.0 epp-1.0.xsd"><response><result code="1000"><msg>Command completed successfully</msg></result><resData><contact:infData xmlns:contact="urn:ietf:params:xml:ns:contact-1.0" xsi:schemaLocation="urn:ietf:params:xml:ns:contact-1.0 contact-1.0.xsd"><contact:id>sqgoffhxha</contact:id><contact:roid>C0001093287-CZ</contact:roid><contact:status s="linked">Has relation to other records in the registry</contact:status><contact:postalInfo type="int"><contact:name>Ms. Chun Shanahan</contact:name><contact:org>Christiansen, Olson and Ullrich</contact:org><contact:addr><contact:street>380 Medhurst Road</contact:street><contact:city>Kundebury</contact:city><contact:sp>New York</contact:sp><contact:pc>74094</contact:pc><contact:cc>MY</contact:cc></contact:addr></contact:postalInfo><contact:voice>+1.8485164975</contact:voice><contact:fax>+1.5342605047</contact:fax><contact:email>rst-epp-17-gina.blanda@hotmail.com</contact:email><contact:clID>REG-ICANN-A</contact:clID><contact:crID>REG-ICANN-A</contact:crID><contact:crDate>2025-08-03T19:19:55+02:00</contact:crDate><contact:disclose flag="1"><contact:addr/></contact:disclose></contact:infData></resData><trID><clTRID>cc5cc43a-b3ed-4697-a0c3-5c366a67dce0</clTRID><svTRID>ReqID-0105584102</svTRID></trID></response></epp>
```
5. Schema validation fails incorrectly
## RFC 5733 Reference
From RFC 5733 Section 3.1.2, the `<contact:addr>` element specification:

> A <contact:addr> element contains the following child elements:
> - One, two, or three OPTIONAL <contact:street> elements that contain the contact's street address.
> - A <contact:city> element that contains the contact's city.
> - An OPTIONAL <contact:sp> element that contains the contact's state or province.
> - An OPTIONAL <contact:pc> element that contains the contact's postal code.
> - A <contact:cc> element that contains the contact's country code.

**No `type` attribute is mentioned for `<contact:addr>`.**

The `type` attribute is only specified for the parent `<contact:postalInfo>` element:

> One or two <contact:postalInfo> elements that contain postal-address information. Two elements are provided so that address information can be provided in both internationalized and localized forms; a "type" attribute is used to identify the two forms.

Sorry, figured out that the error is in the disclose part